{% extends "base.html" %}
{% import "utils.html" as utils %}
{% set selected = "home" %}
{% block title %} Home {% endblock %}
{% block head %}
	{{super()}}
	<style>
		/* General CSS */
		main {
			margin: 0 auto;
			max-width: 1350px;
			padding: 0 80px;
		}
		p.bigger {
			font-size: 1.25rem;
		}
		section {
			margin: 60px 0;
		}

		/* Header CSS */
		header {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			text-align: center;
			align-items: center;
			margin-top: 30px
		}
		h1 {
			font-size: 2.25em;
			line-height: 2.5rem;
			color: var(--text-color);
		}
		h2 {
			font-size: 1.5em;
		}
		#rit-logo-full-color {
			--text-color: black;
			--logo-color: var(--accent-text-color);
		}
		#rit-logo-mini-color {
			--logo-color: var(--accent-text-color);
			display: none;
		}
		@media (max-width: 1000px) {
			header {
				grid-template-columns: 1fr;
				justify-items: center;
				gap: 20px;
			}
			#rit-logo-full-color {
				display: none;
			}
			#rit-logo-mini-color {
				display: initial;
			}
		}

		/* Those first two highlights */
		section.highlight {
			display: grid;
			align-items: center;
			grid-gap: 100px;
		}
		@media (min-width: 756px) {
			section.highlight:nth-of-type(1) {
				grid-template-columns: 4fr 3fr;
			}
			section.highlight:nth-of-type(2) {
				grid-template-columns: 3fr 4fr;
			}
		}
		@media (max-width: 756px) {
			section.highlight > .color-block {
				grid-area: 1/1/2/2;
			}
		}

		/* Code for the colored login button & image aside */
		.color-block {
			background-color: var(--button-color);
			color: var(--button-text-color);
			height: 275px;
			display: block;
			padding: 0 80px;
			text-align: center;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: 30px;
		}
		.color-block button {
			border: 1px solid var(--button-text-color);
			width: initial; /* Needed 'cause some fonts don't fit */
			padding: 8px 10px;
		}
		.color-block > h3 {
			margin: 0;
		}
		section.highlight > img {
			width: 100%;
			height: 275px;
			object-fit: cover;
		}

		/* Work Examples Grid */
		.work-examples {
			display: grid;
			grid-gap: 64px;
			grid-template-columns: 1fr 1fr 1fr;
			margin-top: 36px;
		}
		.work-example {
			position: relative;
			height: 228px;
		}
		.work-example img {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
		.work-example span {
			position: absolute;
			bottom: 15px;
			left: 15px;
			background-color: rgba(247, 105, 2, 0.8);
			color: white;
			font-weight: bold;
			font-size: 1.2em;
			display: grid;
			align-items: center;
			padding: 15px;
		}
		section:nth-of-type(3) {
			/* We use a little more here, 'cause otherwise it looks weird */
			margin-top: 100px;
		}
		@media (max-width: 880px) {
			.work-examples {
				grid-template-columns: 1fr 1fr;
			}
		}
		@media (max-width: 676px) {
			.work-examples {
				grid-template-columns: 1fr;
			}
			.work-example:nth-child(3) ~ .work-example {
				display: none;
			}
		}
	</style>
{% endblock %}
{% block main %}
	<header>
		<div>
			{{ utils.show_rit_logo("rit-logo-full-color") }}
			{{ utils.show_rit_logo("rit-logo-mini-color", short=True) }}
		</div>
		<div style="display: block">
			<h1>Open@RIT Mystic</h1>
			<h2>Community Health Analytics System</h2>
		</div>
	</header>
	<div id="narrow">
		<section class="highlight">
			<div>
				<h3>Welcome to your home for open source projects at RIT!</h3>
				<p>
					Open@RIT’s Mystic system is a community health analytics platform
					which is built using the open-source GrimoireLab platform. As part of
					Open@RIT’s charter, we will use Mystic to help build an understanding
					around how open projects contributed to by university faculty,
					students, and staff are growing and interacting with communities from
					around the world. As we continue to develop Mystic, more metrics,
					visualizations, and capabilities will become public and available to
					users.
				</p>
			</div>
			<div class="color-block">
				<h3>Login to view your projects</h3>
				<a href="/saml/login">
					<button class=big>RIT Student Login</button>
				</a>
			</div>
		</section>
		<section class="highlight">
			<img
				src="https://www.rit.edu/sites/rit.edu/files/images/paragraph/banner-item/foss-magic-1.jpg"
				alt="placeholder image, gotta replace this" />
			<div>
				<h3>What we provide</h3>
				<p class="bigger">
					Submitting, updating, and managing projects through our easy to use
					dashboard
				</p>
				<p class="bigger">
					Easy integration with university reporting tools (in progress)
				</p>
				<p class="bigger">
					Comprehensive dashboards at both the project level and in aggregate (in progress)
				</p>
			</div>
		</section>
		<section>
			<h3>Open Source Project Work all over RIT</h3>
			<p>
				Open@RIT collects data on all open work communities that we interact with
				within the university. Through these interactions we collate and merge
				various data sources to provide high level metrics on the communities
				being build around work done by faculty, staff, and students within the
				university. Below you can see just a small snippet of metrics generated
				from Open@RIT’s mystic analytics platform.
			</p>
			<div class=work-examples>
				{% set examples = [
					(
						"https://the-apothecary.club/_matrix/media/r0/download/matrix.org/cFbXzCLTDRNZyySAbfVPVNSZ",
						"react components:  A hamburger, but instead of a burger, 4 smaller hamburgers",
						"World Around Me"
					),
					(
						"https://the-apothecary.club/_matrix/media/r0/download/shine.horse/852fcb419e8c38f513cfb8aaa861a451b49c0fb2",
						"sampling bias: we received 500 responses and found that people love responding to surveys (sketchplanations)",
						"Project Name"
					),
					(
						"https://the-apothecary.club/_matrix/media/r0/download/chat.is-cute.ml/lvWFCrfpqswYxWONgceYMhaD",
						"image description placeholder",
						"Project Name"
					),
					(
						"https://the-apothecary.club/_matrix/media/r0/download/matrix.org/bZlcSlwgiSklVcTWDSPYgBMJ",
						"image description placeholder",
						"Project Name"
					),
					(
						"https://the-apothecary.club/_matrix/media/r0/download/jboi.nl/shltbILqXYohBQEeUBaaPFvv",
						"image description placeholder",
						"Project Name"
					),
					(
						"https://the-apothecary.club/_matrix/media/r0/download/matrix.org/SkUIbnAyHvzFEGVGMOIGwjJe",
						"image description placeholder",
						"Project Name"
					),
				] %}
				{% for (src, alt, title) in examples %}
					<div class=work-example>
						<img
							src="{{src}}"
							alt="{{alt}}"
							title="{{alt}}" />
						<span>{{title}}</span>
					</div>
				{% endfor %}
			</div>
		</section>
	</div>
{% endblock %}
