{% extends "base.html" %}
{% import "utils.html" as utils %}
{% import "projects-common.html" as projects %}
{% set selected = "home" %}
{% block title %} Projects {% endblock %}
{% block head %}
	{{super()}}
	<link rel=stylesheet href={{static_versioned('styles-projects.css')}} />
	<style>
main {
	display: grid;
}
#content {
	justify-self: center;
}
	</style>
{% endblock %}
{% block main %}
	<div id=content>
		<header>
			<h2> Welcome to Mystic! </h2>
		</header>
		<p>
			Get started by clicking below to create your first project
		</p>
		<a href=#new-project><button class=big> + Add </button></a>
	</div>
	{% call utils.popup("new-project") %}
		{{ projects.editform(cursor, "Create your first project!", user.get_draft_project(cursor)) }}
	{% endcall %}
{% endblock %}
